.profile__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #424242;
  padding-bottom: 16px;
}

.profile__info:last-child {
  border-bottom: none;
  padding-bottom: 0;
  padding-top: 16px;
}
