.footer__list {
  display: flex;
  padding: 0;
  margin: 0;
  column-gap: 20px;
}

@media screen and (max-width: 767px) {
  .footer__list {
    flex-direction: column;
    order: 1;
    text-align: center;
    row-gap: 12px;
    padding-bottom: 30px;
    padding-top: 30px;
    font-size: 12px;
  }
}
