.about-project__container {
  display: flex;
  padding-top: 70px;
}

@media screen and (max-width: 767px) {
  .about-project__container {
    padding-top: 60px;
    flex-direction: column;
    row-gap: 55px;
  }
}
