.movies-more {
  margin: auto;
  max-width: 320px;
  height: 36px;
  padding: 10px 150px;
  background-color: #202020;
  border: 1px solid #424242;
  border-radius: 10px;
  color: #fff;
  font-size: 12px;
  margin-top: 50px;
  margin-bottom: 80px;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .movies-more {
    min-width: 240px;
    padding: 10px 0;
  }
}
