.search__submit {
  width: 44px;
  height: 44px;
  background-image: url('../../../images/submit-arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 5px;
  background-color: #4285F4;
  box-sizing: border-box;
  padding: 7px;
  cursor: pointer;
}
