.promo {
  background-color: #272727;
  max-width: 1200px;
  min-height: 493px;
  margin: auto;
  padding: 30px 30px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-radius: 10px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, .25);
}

@media screen and (max-width: 1279px) {
  .promo {
    margin: 0 20px;
    min-height: 834px;
  }
}

@media screen and (max-width: 767px) {
  .promo {
    margin: 0 14px;
    min-height: 586px;
  }
}

