.sign-up__button {
  color: #fff;
  background-color: #4285F4;
  justify-self: end;
  padding: 15px 0;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  font-size: 13px;
  margin-top: auto;
}

.sign-up__button:disabled {
  background-color: #F8F8F8;
  color: #C2C2C2;
  cursor: auto;
}

@media screen and (max-width: 1279px) {
  .sign-up__button {

  }
}

@media screen and (max-width: 767px) {
 .sign-up__button {
  margin-top: auto;
  font-size: 12px;
 }
}
