.header__button {
  font-size: 14px;
  color: #fff;
  background-color: #313131;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  cursor: pointer;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .header__button {
    display: none;
  }
}
