.about-project {
  max-width: 1140px;
  margin: auto;
  color: #fff;
  padding-top: 110px;
}

@media screen and (max-width: 1280px) {
  .about-project {
    padding-top: 90px;
    margin: 0 50px;
  }
}

@media screen and (max-width: 767px) {
  .about-project {
    margin: 0 18px;
    padding-top: 70px;
  }
}
