.about__subtitle {
  margin: 0;
  padding: 0;
  padding-bottom: 26px;
  font-weight: 500;
}

@media screen and (max-width: 1279px) {
  .about__subtitle {
    font-size: 12px;
  }
}

@media screen and (max-width: 767px) {
  .about__subtitle {
    padding-bottom: 20px;
  }
}
