.footer {
  max-width: 1140px;
  margin: auto;
  color: #fff;
  padding-bottom: 20px;
  padding-top: 80px;
  font-size: 14px;
}

@media screen and (max-width: 1279px) {
  .footer {
    margin: 0 30px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    margin: 0 10px;
  }
}
