.techs {
  background-color: #272727;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (max-width: 1279px) {
  .techs {
    padding: 90px 50px;
  }
}

@media screen and (max-width: 767px) {
  .techs {
    padding: 70px 18px;
  }
}
