.promo__title {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 50px;
  line-height: 1.15;
  max-width: 730px;
  letter-spacing: -0.04rem;
  font-weight: 400;
  text-align: center;
  margin-top: auto;
}

@media screen and (max-width: 1279px) {
  .promo__title {
    font-size: 40px;
    padding-bottom: 0;
    margin-top: auto;
  }
}

@media screen and (max-width: 767px) {
  .promo__title {
    font-size: 29px;
  }
}
