.sign-up__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 380px;
}

@media screen and (max-width: 1279px) {
  .sign-up__form {
    justify-content: start;
  }
}

@media screen and (max-width: 767px) {
  .sign-up__form {
    min-height: 468px;
    justify-content: start;
  }
}
