.sign-up__title {
  margin: 0;
  padding: 0;
  padding-bottom: 40px;
  font-size: 24px;
  color: #fff;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .sign-up__title {
    padding-bottom: 80px;
  }
}
