.mobile-menu__close-button {
  position: absolute;
  background-image: url('../../../images/close-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  top: 22px;
  right: 22px;
  width: 22px;
  height: 22px;
  padding: 0;
}
