.filter-checkbox__checkbox-blank {
  display: none;
}

.filter-checkbox__checkbox-blank:checked + .filter-checkbox__checkbox::before {
  background-color: #fff;
  transform: translate(135%, -50%);
}

.filter-checkbox__checkbox-blank:checked + .filter-checkbox__checkbox {
  background-color: #2BE080;
}
