.about {
  color: #fff;
  padding-top: 110px;
}

@media screen and (max-width: 1279px) {
  .about {
    padding: 50px;
    padding-top: 90px;
  }
}

@media screen and (max-width: 767px) {
  .about {
    padding: 70px 14px;
  }
}
